*.png
login.yaml
*.pyc
poetry.lock
dist/
src/chocolatechip/speed/cache/
src/chocolatechip/speed/exp_results/
*.pdf

*.mp4
*.env
LegoGears_v2
docker
.venv

unzips/
zips/
*unzipped/

*.env
cvat-api-container/
*.sif
*.out
*.weights
darknet_workspace/
.DS_STORE
cache/
*.onnx

# ignore pytorch model files
*.pt

semester-work/fall2025/ultralytics/LegoGears
semester-work/fall2025/ultralytics/LegoGears_v2

*zip
*jpg

ultra_workspace/
*cfg

